<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="myModalLabel">Datos Linea</h4>
</div>
<div class="modal-body form-group">
  <p class="form-control">
    <strong>Codigo:</strong>
    <%= @invmtolinea.codlinea %>
  </p>
  <p class="form-control">
    <strong>NIS:</strong>
    <%= @invmtolinea.nis %>
  </p>
  <p class="form-control">
    <strong>Nombre:</strong>
    <%= @invmtolinea.nombre %>
  </p>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
</div>