body {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 70px;
}

.titlediv {
    margin: auto;
    width: 50%;
    background-color: #ccd9ff;
    border-radius: 5px;
    text-align: center;
}

.schb {
    position: absolute;
    z-index: 99 !important;
    right: 0px;
    width: 300px;
    padding: 10px;
}

h1{
	text-transform: uppercase;
    text-shadow: white 0px 0px 10px;
}

.modal-header {
    background-color: #1C1C1C;
}
.modal-title{
    color: white;
}
.modal-dialog{
    width:30cm;
}
.sbx {
    position: fixed;
    width:80%;
}