    div.sidebar {
        padding: 20px 10px;
    }
    a.btnsb {
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 25px;
    }
    .psb{
        text-shadow: white 0px 0px 10px;
        text-transform: uppercase;
    }
    .panel-group{
        position: fixed;
    }
    