<div class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text"><i class="fa fa-copyright" aria-hidden="true"> Copyright - Todos los Derechos Reservados</i></p></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><p class="navbar-text">UNIDAD DE INFORMATICA</p></li>
            </ul>
        </nav>
    </div>